<div class="page-content" style="margin:0 5%">

  {% include 'breadcrumbs' %}

	<div class="grid">
    <div class="grid__item">

      <div class="rte rte--nomargin">
        
         <!-- UNIFY CUSTOM -->
        
        <div class="bold-ro__choice-header" id="choice-actions">
            <div class="h2 bold-ro__choice-progress">
                <span class="bold-ro__choice-progress-value" id="unify-product-choice">0</span> Selection(s) Remaining </div>
            <div class="bold-ro__choice-actions">
                <button class="btn bold-ro__choices-save" id="unify-checkout" disabled="disabled">Proceed to Checkout</button>
            </div>
        </div>
        
        <div class="bold-grid bold-ro__products-list" id="menu-container">
          
        </div>
<!--         <a style="margin-top: 30px;" id="unify-checkout" class="btn button">Proceed to Checkout</a> -->
        <style>
        
          .bold-product {
    box-sizing: border-box; }

.bold-product__details .product_description {
    max-height: 250px;
    overflow: auto;
}

.bold-product__image-container, .bold-pic {
    box-sizing: border-box;
    max-width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}

.bold-product__image, .bold-pi {
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%; }

.bold-product__control {
    box-sizing: border-box; }

.bold-product__variant-selector {
    font: inherit;
    width: 100%; }

.bold-product__quantity {
    text-align: center;
}

.bold-product__quantity p {
    line-height: 48px;
    font-size: 1.5em;
}

.bold-product__quantity input {
    text-align: center;
}

input.bold-product__quantity-val {
    width: 50px;
    display: inline-block;
    -webkit-appearance: none;
}

span.bold-product__quantity-decrease, span.bold-product__quantity-increase {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
        .bold-ro__choice-header {
    padding-bottom: 50px;
    text-align: right;
}

.bold-ro__choice-actions {
    vertical-align: text-top;
}

.bold-ro {
    box-sizing: border-box; }

.bold-ro__intro {
    box-sizing: border-box; }

.bold-ro__products-list {
    box-sizing: border-box; }

.bold-ro__products-list .bold-grid__column {
    text-align: center; }

.bold-ro__actions {
    text-align: right; }

.bold-ro__button {
    box-sizing: border-box; }

/* =============================================================================
  MODAL STYLES
============================================================================= */
.bold-modal {
    background-color: rgba(0,0,0,0.8); }

.bold-modal__window {
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    border-radius: 5px; }

.bold-modal__header {
    font-size: 12px;
    color: rgba(0,0,0,0.4);
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0,0,0,0.1); }

.bold-modal__footer {
    border-top: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.02); }


/* =============================================================================
  UPSELL STYLES
============================================================================= */
.bold-ro {}

.bold-ro__intro {
    font-size: 14px;
    line-height: 1.5; }

.bold-ro__intro-heading {
    font-size: 24px; }

.bold-ro__button--primary:link,
.bold-ro__button--primary:visited,
.bold-ro__button--primary:hover,
.bold-ro__button--primary:active,
.bold-ro__button--primary:focus {
    color: inherit;
    text-decoration: none; }

.bold-ro__button--primary {
    display: inline-block;
    padding: 15px 25px;
    border: 1px solid rgba(0,0,0,0.3);
    background-color: rgba(0,0,0,0.03);
    border-radius: 2px; }

.bold-ro__button--primary:hover {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0.2); }

.bold-ro__button--primary:active {
    background-color: rgba(0,0,0,0.05);
    border-color: rgba(0,0,0,0.4); }

.bold-ro__button--secondary {
    margin-right: 20px;
    font-size: 90%; }


/* =============================================================================
  PRODUCT STYLES
============================================================================= */
.bold-product {
    max-width: auto;
    font-size: 13px;
    background-color: rgba(255,255,255, 0.5);
    border: 1px solid rgba(0,0,0,0.2);
    padding: 10px; }

.bold-product.bold-grid {
    margin-left: 0;
    margin-right: 0;
    display: flex;
}

.bold-product__info,
.bold-product__variants,
.bold-product__actions {
    margin: 10px 0; }

.bold-product__pricing {
    margin: 15px 0; }

.bold-product__title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px; 
  	min-height: 60px;

}

.bold-product__description {
    opacity: 0.6;
    margin-bottom: 10px; }

.bold-product__price {
    display: inline;
    margin: 0px 3px;
    font-weight: bold; }

.bold-product__price--deleted {
    font-weight: normal;
    font-size: 90%;
    opacity: 0.4;
    text-decoration: line-through; }

.bold-product__control {
    padding: 15px;
    display: block;
    border-radius: 2px;
    line-height: 1;
    color: inherit;
    border: 1px solid rgba(0,0,0,0.3);
    background-color: rgba(0,0,0,0.03);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }

.bold-product__variant-selector {
    padding-right: 36px;
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="16" viewBox="0 0 26 16"><path fill="CurrentColor" d="M8.02682426,8.99999532 L11.3523243,8.99999532 C11.7765243,8.99999532 12.0080243,9.49499532 11.7360243,9.82059532 L10.2242243,11.6301953 L8.41062426,13.8032953 C8.31564065,13.9171173 8.17504521,13.9829213 8.02679765,13.9829406 C7.87855009,13.9829599 7.73793751,13.9171926 7.64292426,13.8033953 L5.82942426,11.6315953 L4.31712426,9.82049532 C4.04532426,9.49489532 4.27682426,8.99999532 4.70102426,8.99999532 L8.02702426,8.99999532 L8.02682426,8.99999532 Z M8.02652426,6.98299532 L4.70102426,6.98299532 C4.27682426,6.98299532 4.04532426,6.48799532 4.31732426,6.16229532 L5.82902426,4.35269532 L7.64262426,2.17969532 C7.73759304,2.06586091 7.8781799,2.00003864 8.02642747,2.00000002 C8.17467503,1.9999614 8.31529617,2.06571041 8.41032426,2.17949532 L10.2238243,4.35129532 L11.7361243,6.16239532 C12.0079243,6.48799532 11.7764243,6.98289532 11.3523243,6.98289532 L8.02632426,6.98289532 L8.02652426,6.98299532 Z"/></svg>');
    background-repeat: no-repeat;
    background-position: right center; }

.bold-product__actions {
    margin-bottom: 0; }

.bold-product__button,
.bold-product__button:link,
.bold-product__button:visited,
.bold_product__button:hover,
.bold_product__button:active,
.bold_product__button:focus {
    text-decoration: none;
    color: inherit; }

.bold-product__button:hover {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0.2); }

.bold-product__button:active {
    background-color: rgba(0,0,0,0.05);
    border-color: rgba(0,0,0,0.4); }

.bold-product__quantity-increase, .bold-product__quantity-decrease {
    padding:5px;
    cursor: pointer;
}
#choice-actions.sticky {
    position: fixed;
    top: 0;
    right:0px;
    background-color: #fff;
    width:100%;
    padding: 20px;
}

@media only screen and (max-width: 498px) {
    .bold-product.bold-grid {
        display: inline-block;
        width: 100%;
    }
    .bold-modal__window {
        top: 0;
        bottom:0;
    }
}
          
          .bold-grid {
  box-sizing: border-box;
  margin: 0px -15px; }

.bold-grid:after {
  box-sizing: border-box;
  display: table;
  content: '';
  clear: both; }

.bold-grid__column {
  box-sizing: border-box;
  padding: 15px;
  width: 100%; }


@media only screen and (min-width: 499px) {
  .bold-grid__column {
    float: left; }

  .bold-grid__column--half,
  .bold-grid__column--third,
  .bold-grid__column--quarter {
    width: 50%;
    text-align: left;}

  .bold-grid__column--third:first-child {
    width: 100%;
  }
}

@media only screen and (min-width: 599px) {
  .bold-grid__column--third,
  .bold-grid__column--third:first-child {
    width: 33.3333%; }
}

@media only screen and (min-width: 739px) {
  .bold-grid__column--quarter {
    width: 25%; }
}
        </style>
         <!-- UNIFY CUSTOM -->
      </div>

    </div>
  </div>
</div>
