{% assign subscription_only_arr = product | map: 'variants' | map: 'metafields' | map: 'bold_rp' | map: 'rp_subscription_only' | uniq %}
{% if subscription_only_arr[0] == 1 or subscription_only_arr[1] == 1 %}
{% assign subscription_only = true %}<style>.slowload{display: none !important;}</style><script>BOLD.recurring_orders.app.ee.onOut('BOLD_RECURRING_ORDERS_widget_loaded', function(response){$(response.data.form).find('.slowload').removeClass('slowload');});</script>{% endif %}
<form action="/cart/add" method="post" enctype="multipart/form-data" class="product-single__form" id="AddToCartForm-{{ section_id }}" >      
  {% unless product.options.size == 1 and bold_selected_or_first_available_variant.title contains 'Default Title' %}
    {% for option in product.options_with_values %}
      {% if settings.variant_type == 'button' %}
        {% include 'variant-button', section_id: section_id, option_drop: option %}
      {% else %}
        {% include 'variant-dropdown', section_id: section_id %}
      {% endif %}
    {% endfor %}
  {% endunless %}  
  
  <select name="id" id="ProductSelect-{{ section_id }}" class="product-single__variants no-js">
    {% for variant in product.variants %}
{%- include 'bold-variant' with variant -%}
      {% if variant.available %}
        <option {% if bold_variant_customer_tag != bold_variant.metafields.shappify_csp.csp_tag %}style="display:none"{% endif %}  {% if variant == bold_selected_or_first_available_variant %}
          selected="selected" {% endif %}
          value="{{ variant.id }}">
          {{ variant.title }} - {{ bold_variant_price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
        </option>
      {% endif %}
    {% endfor %}
  </select>

  {%- unless qb_loaded == 'true' -%}
  <div class='shappify-qty-msg'>{{bold_selected_or_first_available_variant.metafields.shappify_csp.pricing_html}}</div>
  {%- assign qb_loaded = 'true' -%}
  {%- endunless -%}


  {% if settings.quantity_enable %}
    <div class="product__quantity product__quantity--{{ settings.variant_type }} js-qty">
      <label for="Quantity-{{ section_id }}">{{ 'products.product.quantity' | t }}</label>
      <input type="number" hidden="hidden" id="Quantity-{{ section_id }}" name="quantity" value="1" min="1" class="js-qty__fallback">
    </div>
  {% endif %}
  
  
  
 <!-- UNIFY CUSTOM -->
  
  <style type="text/css">
    .uni-addon-products ul {
      	margin: 0;
    	padding: 0;
    }
    .uni-addon-products ul li {
        list-style: none;
        float: left;
        margin-bottom: 8px;
    }
    .uni-addon-products ul li.uni-gap {
      	margin-left: 10px;
    }
    .uni-addon-products ul li input[type="radio"] {
      	display: none;
    }
    .uni-addon-products ul li input[type="radio"]+label {
      	padding: 10px;
        border: 2px solid #e8e8e1;
    }
    .uni-addon-products ul li input[type="radio"]:checked+label {
      	border-color: #000;
    }
  </style>
  <div class="uni-addon-products">
    <label class="variant__label">
    Power Treats (175 Cals)?
    
  </label>
    <ul>
      <li>
        <input id="uni-addon-products-1" type="radio" checked="checked" name="unify_addon" value="{{ all_products['treat-1-box-5-treat'].variants[0].id }}" />
        <label for="uni-addon-products-1">One Box (5 Treats)</label>
      </li>
      <li class="uni-gap">
        <input id="uni-addon-products-2" type="radio" name="unify_addon" value="{{ all_products['treat-2-box-10-treats'].variants[0].id }}" /> 
        <label for="uni-addon-products-2">Two Box (10 Treats)</label>
      </li>
      <li>
        <input id="uni-addon-products-3" type="radio" name="unify_addon" value="{{ all_products['bakery-5-boxes-25x-treats'].variants[0].id }}" /> 
        <label for="uni-addon-products-3">Bakery 5 Box (25x Treats)</label>
      </li>
      <li class="uni-gap">
        <input id="uni-addon-products-4" type="radio" name="unify_addon" value="" /> 
        <label for="uni-addon-products-4">No Treats</label>
      </li>
    </ul>
  </div>
  <div style="clear:both;"></div>
  
  <div class="bold-ro__radio-div bold-ro__recurring-div bold-ro__bold-active bold-ro__sub">
    <label class="bold-ro__recurring-lbl">
        <input type="hidden" value="3" name="bold-ro__selector_radio_button" class="bold-ro__sub-box-radio-btn"
            checked="">
        <span class="bold-ro__recurring-text bold-ro__subscription-only"></span>
    </label>
    <span class="bold-ro__see-details"><a href="javascript:;" class="bold-ro__detail-tooltip needsclick"
            aria-describedby="tooltip_u3ufn5scun">How often do you want to receive your meals?</a>
        <div class="bold-ro__tooltip" role="tooltip" id="tooltip_u3ufn5scun" aria-hidden="true" x-placement="bottom"
            style="position: absolute; transform: translate3d(885px, 737px, 0px); top: 0px; left: 0px; will-change: transform; display: none;">
            <div class="tooltip-arrow" style="left: 122px;"></div>
            <div class="tooltip-inner">
                <div align="left">
                    <div><strong>Subscription Details</strong></div>
                    <div>
                        <ul>
                            <li>Set it and forget it!</li>
                            <li>Pause, edit or cancel anytime.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </span>
    <div class="bold-ro__frequency-div">
        <div class="bold-ro__frequency-label">
 
            <span class="bold-ro__billing-plan-text">
                Receive meals every <select class="bold-ro__frequency-num" name="frequency_num">
                    <option value="3">1</option>
                    <option value="4">2</option>
                    <option value="5">3</option>
                    <option value="6">4</option>
                </select> Week(s)
            </span>

        </div>
    </div>
</div>
  
  <a style="margin-top: 30px;" id="unify-custom-buy" class="btn button">Choose Your Menu!</a>
 <!-- UNIFY CUSTOM -->
  
  
  
  
  
  
  

  {% comment %}
  <div class="ro_widget"></div>
  
  {% if subscription_only %}
  <button
    disabled="disabled"
    {% if product.empty? %}type="button"{% else %}type="submit"{% endif %}
    name="add"
    id="AddToCart-{{ section_id }}"
    class="btn btn--full add-to-cart addtocart slowload"
    {% unless product.available %} disabled="disabled"{% endunless %}>
    <span id="AddToCartText-{{ section_id }}">
      {% if product.available %}
        {{ 'products.product.add_to_cart' | t }}
      {% else %}
        {{ 'products.product.sold_out' | t }}
      {% endif %}
    </span>
  </button>
  {% else %}
  <button
          {% if product.empty? %}type="button"{% else %}type="submit"{% endif %}
          name="add"
          id="AddToCart-{{ section_id }}"
          class="btn btn--full add-to-cart addtocart {% if subscription_only %}slowload{% endif %}"
          {% unless product.available %} disabled="disabled"{% endunless %}>
    <span id="AddToCartText-{{ section_id }}">
      {% if product.available %}
      {{ 'products.product.add_to_cart' | t }}
      {% else %}
      {{ 'products.product.sold_out' | t }}
      {% endif %}
    </span>
  </button>
  {% endif %}
  {% endcomment %}
  
</form>
