{% comment %} {% for product in collections.all.products %}
   <script>console.log({{ product | json }})</script>
{% endfor %} {% endcomment %}

   <script>console.log({{ product | json }})</script>

{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}
{% include 'product-template',
  image_container_width: section.settings.image_size,
  related: section.settings.related_enable,
  section_id: section.id,
  social: section.settings.social_enable,
  zoom: settings.product_zoom_enable
%}

{% if collection %}
  {% unless isModal %}
    {%- assign grid_item_width = '' -%}
    {%- assign image_size = '1000x' -%}

    {% if collection.next_product %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
      {%- assign image_size = '800x' -%}
    {% endif %}

    {% if collection.image %}
      {%- assign collection_image = collection -%}
    {% else %}
      {%- assign collection_image = collection.products.first -%}
    {% endif %}

    <div class="grid grid--no-gutters skrim-grid skrim-grid--pagination product-navigation">
      {% if collection.next_product %}
        <div class="grid__item {{ grid_item_width }} skrim__item medium-up--hide" data-aos="skrim__animation">
          <a href="{{ collection.next_product }}" class="skrim__link skrim__item-content">
            <div class="skrim__overlay grid__image" style="background-image: url({{ collection.next_product.featured_image | img_url: image_size }})"></div>
            <div class="skrim__title-wrapper">
              <span class="skrim__title skrim__title--right">
                <div class="skrim__underline-me">{{ 'products.general.next_product' | t: title: collection.next_product.title }}</div> {% include 'icon-arrow-right' %}
              </span>
            </div>
          </a>
        </div>
      {% endif %}
      <div class="grid__item {{ grid_item_width }} skrim__item" data-aos="skrim__animation">
        <a href="{% if collection.handle == 'frontpage' %}/{% else %}{{ collection.url }}{% endif %}" class="skrim__link skrim__item-content">
          <div class="skrim__overlay grid__image" style="background-image: url({{ collection_image | img_url: image_size }})"></div>
          <div class="skrim__title-wrapper">
            <span class="skrim__title">
              {% include 'icon-arrow-left' %} <div class="skrim__underline-me">{{ 'products.general.collection_return' | t: collection: collection.title }}</div>
            </span>
          </div>
        </a>
      </div>
      {% if collection.next_product %}
        <div class="grid__item {{ grid_item_width }} skrim__item small--hide" data-aos="skrim__animation">
          <a href="{{ collection.next_product }}" class="skrim__link skrim__item-content">
            <div class="skrim__overlay grid__image" style="background-image: url({{ collection.next_product.featured_image | img_url: image_size }})"></div>
            <div class="skrim__title-wrapper">
              <span class="skrim__title skrim__title--right">
                <div class="skrim__underline-me">{{ 'products.general.next_product' | t: title: collection.next_product.title }}</div> {% include 'icon-arrow-right' %}
              </span>
            </div>
          </a>
        </div>
      {% endif %}
    </div>
  {% endunless %}
{% endif %}

<div class="page-content">
  <div class="page-width">

    {% if product.metafields.custom_fields["instruction_desktop"] != blank %}
      <div class="custom-field custom-field__instruction-desktop custom-field__type--image">
        <h3 class="custom-field--title">Instructions (Desktop)</h3>
        <div class="custom-field--value">  
          {% include 'cf-image' with image: product.metafields.custom_fields["instruction_desktop"], print: 'url' %}
        </div>
      </div>
    {% endif %}


    {% if product.metafields.custom_fields["instructions_mobile"] != blank %}
      <div class="custom-field custom-field__instructions-mobile custom-field__type--image">
        <h3 class="custom-field--title">Instructions (Mobile)</h3>
        <div class="custom-field--value">  
          {% include 'cf-image' with image: product.metafields.custom_fields["instructions_mobile"], print: 'url' %}
        </div>
      </div>
    {% endif %}

    <style>
    .fc-field.field__ingredient{
      margin-bottom:20px;
    }

    </style>

    {% if product.metafields.custom_fields["ingredients"] != blank %}
      <div class="custom-field custom-field__ingredients custom-field__type--field-collection">
        <div class="product-page-accordion">
        <div class="row">
          <div class="col">
            <div class="tabs">
              <div class="tab">
                <input type="checkbox" id="chck1">
                <label class="tab-label" for="chck1"><h3 class="custom-field--title">Ingredients</h3></label>
                <div class="tab-content">
                  <div class="custom-field--value">
                    {% assign separator = "|###|" %}
                    {% assign ingredient_array = product.metafields.custom_fields["ingredient"] | split: separator %}
                    {% assign fc_keys = product.metafields.custom_fields["ingredients"] | split: "," %}
                    {% for i in fc_keys %}
                      {% assign index = i | plus: 0 %}
                      <div class="fc-item fc-item-- fc-index--{{ index }}">
                        <div class="fc-field field__ingredient">
                          <span class="dots-green">● </span>{{ ingredient_array[index] }}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    {% endif %}



  {% if product.metafields.custom_fields["allergens"] != blank %}
    <div class="custom-field custom-field__allergens custom-field__type--field-collection">
        <div class="product-page-accordion">
        <div class="row">
          <div class="col">
            <div class="tabs">
              <div class="tab">
                <input type="checkbox" id="chck3">
                <label class="tab-label" for="chck3"><h3 class="custom-field--title">Allergens</h3></label>
                <div class="tab-content">
                <div class="custom-field--value">
                  {% assign separator = "|###|" %}
                  {% assign allergen_array = product.metafields.custom_fields["allergen"] | split: separator %}
                  {% assign fc_keys = product.metafields.custom_fields["allergens"] | split: "," %}
                  {% for i in fc_keys %}
                    {% assign index = i | plus: 0 %}
                    <div class="fc-item fc-item--allergen fc-index--{{ index }}">
                      <div class="fc-field field__allergen">
                         <span class="dots-allergen">● </span>{{ allergen_array[index] }}
                      </div>
                    </div>
                  {% endfor %}
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  {% endif %}



    {% if product.metafields.custom_fields["nutrition_facts_image"] != blank %}
    <div class="product-page-accordion">
      <div class="row">
        <div class="col">
          <div class="tabs">
            <div class="tab">
              <input type="checkbox" id="chck2">
              <label class="tab-label" for="chck2"><h3>Nutrition Facts</h3></label>
              <div class="tab-content">
              <img class="wwm-finish-your-set__image desktop-only" src="{{product.metafields.custom_fields.nutrition_facts_image}}" alt="Flex Pro Meals Nutrition Facts"  />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "default": "medium",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ]
      },
      {
        "type": "select",
        "id": "description_style",
        "label": "Description style",
        "default": "default",
        "options": [
          {
            "value": "default",
            "label": "Next to images"
          },
          {
            "value": "full",
            "label": "Below images"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "social_enable",
        "label": "Enable social sharing",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "related_enable",
        "label": "Show related products",
        "default": true
      },
      {
        "type": "range",
        "id": "related_count",
        "label": "Number of related products",
        "default": 4,
        "min": 2,
        "max": 5,
        "step": 1
      }
    ]
  }
{% endschema %}



<style>
.product-page-accordion {
  /* Accordion styles */
}
.product-page-accordion h3{
  margin-bottom:0;
}
.product-page-accordion input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.product-page-accordion .row {
  display: -webkit-box;
  display: flex;
}
.product-page-accordion .row .col {
  -webkit-box-flex: 1;
          flex: 1;
}
.product-page-accordion .row .col:last-child {
  margin-left: 1em;
}
.product-page-accordion .tabs {
  overflow: hidden;
  border-bottom: 1px solid black;
}
.product-page-accordion .tab {
  width: 100%;
  color: black;
  overflow: hidden;
}
.product-page-accordion .tab-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 1em 0;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.product-page-accordion .tab-label::after {
  content: "˖";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.product-page-accordion .tab-content {
  max-height: 0;
  padding: 0 1em;
  background: white;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.product-page-accordion .tab-close {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  cursor: pointer;
}
.product-page-accordion input:checked + .tab-label::after {
          content:"-"
}
.product-page-accordion input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}
.dots-green{
  color:rgb(168, 220, 30);
}
.dots-allergen{
    color:#fcb038;
}
.fc-field.field__ingredient, .fc-field.field__allergen{
  font-family:'Oswald';
}
.custom-field__ingredients .fc-item{
  width:33%;
}
.custom-field__ingredients .custom-field--value {
  display:flex;
  flex-wrap:wrap;
}
</style>