function increaseQuantity(i) {
  if(getTotalSelectedQuantity() < parseInt(window.maxQuantity))
  {
    document.getElementById('unify-quanity-view-' + i).value = parseInt(document.getElementById('unify-quanity-view-' + i).value) + 1;
	window.childProducts[i].quantity = document.getElementById('unify-quanity-view-' + i).value;
  	getTotalSelectedQuantity();
  }
	

}

function decreaseQuantity(i) {
  if(parseInt(document.getElementById('unify-quanity-view-' + i).value) > 0) {
  	
    document.getElementById('unify-quanity-view-' + i).value = parseInt(document.getElementById('unify-quanity-view-' + i).value) - 1;
	window.childProducts[i].quantity = document.getElementById('unify-quanity-view-' + i).value;
  
  }
  getTotalSelectedQuantity();
}

function changeQuantity(i) {
  if((getTotalSelectedQuantity() + parseInt(document.getElementById('unify-quanity-view-' + i).value)) <= parseInt(window.maxQuantity) && parseInt(document.getElementById('unify-quanity-view-' + i).value) > 0) {
	window.childProducts[i].quantity = document.getElementById('unify-quanity-view-' + i).value;
  } else {
	document.getElementById('unify-quanity-view-' + i).value = 0;
    window.childProducts[i].quantity = 0;
  }
  getTotalSelectedQuantity();
}

function getTotalSelectedQuantity() {
  let quantity = 0;
  for(let i in window.childProducts)
  {
    if(window.childProducts[i].quantity)
    {
      quantity += parseInt(window.childProducts[i].quantity);
    }
  }
  document.getElementById('unify-product-choice').innerHTML = window.maxQuantity - quantity;
  
  if(window.maxQuantity - quantity == 0) {
  
  	document.getElementById('unify-checkout').disabled = false
    
  } else {
  
  document.getElementById('unify-checkout').disabled = true
  }
  return quantity;
}


$('#unify-custom-buy').click(function(e) {

$.ajax({
    type: "POST",
    url: "/cart/clear.js",
    data: '{}',
    cache: false,
    async: false,
    dataType: 'json',
    contentType: 'application/json'
  }).done(function (data) {
		let products = [];
  			if(document.querySelector('input[name="unify_addon"]:checked') && 
           document.querySelector('input[name="unify_addon"]:checked').value
            ) {
              products.push({
                        id: document.querySelector('input[name="unify_addon"]:checked').value,
                          quantity: 1,
                        });
          }
            products.push({
                      "id": document.querySelector('[name=id]').value,
                        quantity: 1,
              			properties: {
                          type: 'bundle',
                          item_subscription_cycle: document.querySelector('.bold-ro__frequency-num').value
                        }
                      });
  
  	 
		$.ajax({
          "type": "POST",
          "url": "/cart/add.js",
          "data": {
            "items": products
          },
          "cache": false,
          "async": false,
          "dataType": "json"
        }).done(function (data) {
       
          window.location.href = '/pages/unify-choose-menu';
        })
        })

        return false;
    });

$('#unify-checkout').click(function(e) {
  
  $.ajax({
    type: 'GET',
    url:'/cart.json',
    dataType: 'json',
    success: function(data) {
     if(typeof data !== 'undefined'){
      for(let i in window.childProducts)
      {
        if(window.childProducts[i].quantity && parseInt(window.childProducts[i].quantity)) {
        	
          data.items.push({
          product_title: window.childProducts[i].title,
          id: window.childProducts[i].id,
          product_id: window.childProducts[i].id,
          variants: [{
          	id: window.childProducts[i].id,
          	product_id: window.childProducts[i].id,
          }],
          quantity: parseInt(window.childProducts[i].quantity),
          image: window.childProducts[i].image.src,
            price: 0
        
        });
        
        
        }
      	
        
      
      }
      
      var base_url = Shopify.shop;
      var url = base_url.replace(/^https?:\/\//,'');
      var parts = url.split('.');
      var sub_domain = parts[0];
      var autoFillPromo = '', newData = JSON.stringify(data); 
      if(url.search('myshopify') == -1){
        url = sub_domain + '.myshopify.com';
      }     
      var action = '';
      var current_url = window.location.origin.replace(/^https?:\/\//,'');

      action = 'https://flex-pro-dot-unify-app-cc.appspot.com/checkout';
      //action = 'http://platform.unify.local/checkout'

      if(!action)
      {
        console.log('DOMAIN NOT MAPPED')
        return
      }

      var checkoutForm  = '<form name="external_checkout_form" method="POST" action="'+action+'"><input type="hidden" name="cart_data" value="'+encodeURI(newData)+'" ><input type="hidden" name="slug" value="'+sub_domain+'" ><input type="hidden" name="base_url" value="'+url+'" ><input type="hidden" name="redirection" value="'+current_url+'" >' + autoFillPromo + '</form>';

      $('body').append(checkoutForm);
       $.ajax({
          type: "POST",
          url: "/cart/clear.js",
          data: '{}',
          cache: false,
          async: false,
          dataType: 'json',
          contentType: 'application/json'
        });

      $('[name=external_checkout_form]').submit();
    }else{
      console.log('Cart is empty');
    }
  }
  });
  
});

(function ($) {
  
  if(document.querySelector('.bold-ro__choice-header'))
  {
  
    var fixmeTop = $('.bold-ro__choice-header').offset().top;       // get initial position of the element

    $(window).scroll(function() {                  // assign scroll event listener

        var currentScroll = $(window).scrollTop(); // get current position

        if (currentScroll >= fixmeTop) {           // apply position: fixed if you
            $('.bold-ro__choice-header').css({                      // scroll to that element or below it
                position: 'fixed',
                top: 0,
                right: 0,
                background: 'rgb(255, 255, 255)',
                padding: '20px 5% 20px 0px',
                width: '100%',
                zIndex: 100
            });
        } else {                                   // apply position: static
            $('.bold-ro__choice-header').css({                      // if you scroll above it
                position: 'static',
                padding: 0
            });
        }

    });
  
  }
  
     
  
  if(document.getElementById('menu-container'))
  {
  	$.ajax({
      type: 'GET',
      url:'/cart.json',
      dataType: 'json',
      success: function(data) {
        let productID = null;
        let variantID = null;
        for(let i in data.items){
        
          if(data.items[i].properties && data.items[i].properties.type == 'bundle') {
          
              productID = data.items[i].product_id;
              variantID = data.items[i].variant_id;
              break;
          }
        
        }
        if(productID) {
        $.ajax({
            method: 'POST',
            url: "https://flex-pro-dot-unify-app-cc.uc.r.appspot.com/api/modules/bundle-manager/token", 
            data: {
            slug: 'flexpro-meals',
              cart_token: data.token
            },
            success: (result) => {
                $.ajax({
                      method: 'POST',
                      url: "https://flex-pro-dot-unify-app-cc.uc.r.appspot.com/api/modules/bundle-manager/fetch?debug=yes", 
                      data: {
                      unify_token: result.token,
                      item: {
                        product_id: productID,
                        variant_id: variantID
                      }
                    },
                    success: (result) => {
                        if(result.status && result.data && result.data.products)
                        {
                          window.maxQuantity = result.data.max_quantity;
                          window.childProducts = result.data.products;
                          document.getElementById('unify-product-choice').innerHTML = result.data.max_quantity;
                        	
                          for(let i in result.data.products)
                          {
                            document.getElementById('menu-container').innerHTML += `
								
                          <div class="bold-grid__column bold-grid__column--quarter">
                                      <article class="bold-product" data-slot-id="34562" data-slot-label="Signature 2"
                                          data-slot-product-id="4368113827930" data-slot-variant-id="31224223432794"
                                          data-slot-product-handle="b-backyard-bbq-reg">
                                          <div class="bold-product__image-container bold-pic bold-pic1">
                          <img src="${result.data.products[i].image.src}" />
                                          </div>
                                          <div class="bold-product__details bold-pd">
                                              <div class="bold-product__info">
                          <div class="bold-product__title">${result.data.products[i].title}</div>
                                              </div>
                                              <div class="bold-product__variants">
                                                  <div class="bold-product__quantity-wrapper">
                                                      <div class="bold-product__quantity">
                                                          <span data-slot-id="34562" onclick="decreaseQuantity(${i})" class="bold-product__quantity-decrease">-</span>
                                                          <input data-slot-inventory="no_inventory" data-slot-id="34562"
                                                              class="bold-product__quantity-val" id="unify-quanity-view-${i}" onchange="changeQuantity(${i})" type="text" value="0">
                                                          <span data-slot-id="34562" onclick="increaseQuantity(${i})" class="bold-product__quantity-increase">+</span>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="bold-product__actions">
                          <div id="bold-modal__window${i}" class="bold-modal__window" style="display:none;">
                                                  <div class="bold-modal__content bold-ro">
                                                      <div class="bold-ro__intro">
                                                          <h1 class="bold-ro__intro-heading">Details</h1>
                                                      </div><!-- /.bold-modal__intro  -->
                                                      <div class="bold-ro__single-product">
                                                          <article class="bold-product bold-grid">
                                                              <div class="bold-product__image-container bold-grid__column bold-grid__column--half bold-pic1"
                                                                  id="modal-img">

                                                                          <img src="${result.data.products[i].image.src}" />
                                                              </div>
                                                              <div class="bold-product__details bold-grid__column bold-grid__column--half">
                                                                  <div class="bold-product__info">
                                                                      <div class="bold-product__title" id="modal-title">
                                                                          ${result.data.products[i].title} </div>
                                                                  </div>
                                                                  <div class="product_description" id="modal-description">
                                                                     ${result.data.products[i].body_html}
                                                                  </div>
                                                              </div><!-- /.bold-product__details -->
                                                          </article><!-- /.bold-product.bold-grid -->
                                                      </div><!-- /..bold-ro__single-product -->
                                                  </div><!-- /.bold-modal__content.bold-ro -->
                                                  <div class="bold-modal__footer bold-ro__actions">
                                                      <a href="#primary" id="bold-modal__btn-close" data-bold-modal-close=""
                                                          class="bold-ro__button bold-ro__button--primary modal-close-btn js-no-transition">Close</a>
                                                  </div><!-- /.bold-modal__footer.bold-ro__actions -->
                                              </div>
                                              <a onclick="BOLD.recurring_orders.app.modal.open('#bold-modal__window${i}')"
                                                  class="bold-product__control bold-product__button bold-product__button--primary modal-button js-no-transition"
                                                  data-imgsrc="https://cdn.shopify.com/s/files/1/0218/1620/products/SwedishMeatballsReg_500x500.jpg?v=1589948121">Details</a>
                                          </div>
                                      </article><!-- /.bold-product -->
                                  </div>

							`;
                          }
                        
                        }
                    }
                });
            }
        });
        } else {
        
          window.location.href = "/";
        
        }
        
        
        
      }
    
    });
  }
  if(window.location.href.indexOf('/cart') !== -1) {
    window.location.href = "/";
  }
}(jQuery));